*::-webkit-input-placeholder {
  color: #9f9f9f;
  font-style: italic;
  font-size: 14px;
}

*:-moz-placeholder {
  color: #9f9f9f;
  font-style: italic;
  font-size: 14px;
}

*:-ms-input-placeholder {
  color: #9f9f9f;
  font-style: italic;
  font-size: 14px;
}

html {
  background-color: #fff;
}

body {
  font-family: sans-serif;
  font-size: 14px;
  min-width: 320px;
  position: relative;
  line-height: 1.4;
  font-family: "ComfortaaBold";
  overflow-x: hidden;
  background-color: #fffcf4;
  margin: 0 auto;
  color: #000;
  max-width: 1366px;
  font-variant: small-caps;
}

.hidden {
  display: none;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  outline: none;
  color: #6570c8;
}

a:hover, a:active, a:focus {
  text-decoration: none;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  outline: none;
}

ul, menu, dir {
  display: block;
  list-style-type: disc;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0px;
  padding: 0;
  margin: 0;
}

input[type="email"], input[type="number"], input[type="search"], input[type="text"], input[type="tel"], input[type="url"], input[type="password"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}

textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}

input[type="email"]:focus, input[type="number"]:focus, input[type="search"]:focus, input[type="text"]:focus, input[type="tel"]:focus, input[type="url"]:focus:focus, input[type="password"]:focus {
  outline: none;
}

textarea:focus {
  outline: none;
}

::-webkit-input-placeholder, ::-moz-placeholder, :-moz-placeholder, :-ms-input-placeholder {
  text-indent: 0px;
  color: #9b9b9b;
  -webkit-transition: text-indent 0.3s ease;
  -o-transition: text-indent 0.3s ease;
  transition: text-indent 0.3s ease;
}

:focus::-webkit-input-placeholder, :focus::-moz-placeholder, :focus:-moz-placeholder, :focus:-ms-input-placeholder {
  text-indent: 500px;
  -webkit-transition: text-indent 0.3s ease;
  -o-transition: text-indent 0.3s ease;
  transition: text-indent 0.3s ease;
}

textarea::-webkit-input-placeholder, textarea::-moz-placeholder, textarea:-moz-placeholder, textarea:-ms-input-placeholder {
  text-indent: 0px;
}

textarea:focus::-webkit-input-placeholder, textarea:focus::-moz-placeholder, textarea:focus:-moz-placeholder, textarea:focus:-ms-input-placeholder {
  text-indent: 0px;
}

::-webkit-scrollbar {
  width: 10px;
  margin-right: 10px;
  cursor: pointer;
}

::-webkit-scrollbar-track {
  -webkit-border-radius: 5px;
  border-radius: 0px;
  margin-right: 6px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 5px;
  border-radius: 0px;
  background: #f3f4f7;
  margin-right: 10px;
}

::-webkit-scrollbar-thumb:window-inactive {
  background: #f3f4f7;
}

h1 {
  font-size: 36px;
  letter-spacing: 5px;
  text-transform: uppercase;
  margin-top: 0;
}

.button {
  width: 160px;
  height: 49px;
  border: 2px solid #f3337c;
  border-radius: 25px;
  text-align: center;
  font-size: 16px;
  line-height: 50px;
  color: #000;
  display: table;
  margin: 0 auto;
  letter-spacing: 2px;
}

.button:hover {
  background-color: #f3337c;
  color: #fff;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.mb_0 {
  margin-bottom: 0 !important;
}

header {
  width: 100%;
  background-color: #fcd2d2;
  position: relative;
  min-height: 100px;
}

header .header_logo {
  display: inline-block;
  margin-left: -30px;
  margin-top: 8px;
}

header .header_contact {
  display: inline;
}

header .header_contact a {
  display: block;
  color: #000;
  width: 100%;
  margin-top: 10px;
  text-transform: uppercase;
  margin-left: 20px;
}

header .header_contact a.email {
  font-size: 12px;
}

.main_text {
  width: 100%;
  display: inline-block;
  height: 665px;
  background-image: url("../img/main_bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.main_text .main_text_img {
  width: 100%;
  display: inline-block;
}

.main_text .main_text_img img {
  display: table;
  margin: 180px auto 0;
}

.main_text .main_text_mangala {
  display: table;
  margin: -7px auto 0;
}

.about {
  width: 100%;
  display: inline-block;
  height: 772px;
  background-image: url("../img/about_bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 200px;
  margin-top: -2px;
}

.about h1 {
  text-align: center;
}

.about .about_text {
  display: inline-block;
  width: 540px;
  display: table;
  margin: 60px auto 0;
}

.about .about_text p {
  font-size: 15px;
  font-weight: 700;
  line-height: 22px;
  font-variant: small-caps;
  letter-spacing: 1.3px;
  text-align: justify;
}

.service {
  width: 100%;
  display: inline-block;
  margin-top: 60px;
  margin-bottom: 80px;
}

.service .service_img {
  width: calc(50% - 20px);
  display: inline-block;
  height: 415px;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 50px;
}

.service .service_img:after {
  content: "";
  display: inline-block;
  width: 573px;
  height: 13px;
  background-color: #b9e2b6;
  bottom: -28px;
  position: absolute;
}

.service .service_img.right_part:after {
  right: 0;
}

.service .service_candle {
  margin-top: 20px;
}

.service .left_part {
  margin-right: 20px;
  float: left;
}

.service .right_part {
  margin-left: 20px;
  float: right;
}

.service .service_text {
  width: calc(50% - 20px);
  display: inline-block;
  padding-right: 112px;
  position: relative;
  text-align: left;
}

.service .service_text.right_part a {
  float: right;
}

.service .service_text.right_part a:after {
  width: 143px;
  height: 36px;
  bottom: -24px;
  left: -48px;
  background-image: url("../img/arrow-02.png");
}

.service .service_text.left_part {
  padding-right: 0;
  padding-left: 112px;
}

.service .service_text.left_part h1 {
  text-align: right;
}

.service .service_text.left_part h1:after {
  bottom: -40px;
  right: inherit;
  left: -112px;
  position: absolute;
}

.service .service_text h1 {
  line-height: 48px;
  margin-top: -9px;
  position: relative;
  margin-bottom: 110px;
}

.service .service_text h1:after {
  content: "";
  display: inline-block;
  width: 477px;
  height: 20px;
  background-color: #f0b5b5;
  bottom: -40px;
  right: -112px;
  position: absolute;
}

.service .service_text p {
  font-size: 14px;
  margin: 0;
  font-weight: 700;
  line-height: 22px;
  font-variant: small-caps;
  text-align: justify;
}

.service .service_text a {
  color: #f3337c;
  font-size: 13px;
  position: relative;
  margin-top: 55px;
  display: block;
}

.service .service_text a:hover {
  color: #111;
}

.service .service_text a:after {
  content: "";
  display: inline-block;
  width: 151px;
  height: 44px;
  left: -5px;
  bottom: -28px;
  position: absolute;
  background-image: url("../img/arrow-03.png");
}

.hotels {
  width: 100%;
  display: inline-block;
}

.hotels .hotel_item {
  width: 100%;
  margin-bottom: 100px;
}

.hotels .hotel_item img {
  width: 100%;
  height: 230px;
  -o-object-fit: cover;
  object-fit: cover;
}

.hotels .hotel_item p {
  font-size: 18px;
  margin: 0;
  margin-top: 44px;
  letter-spacing: 3px;
  height: 70px;
  text-align: center;
  overflow-y: hidden;
}

.service_text h1 {
  -vendor-animation-duration: 3s;
  -vendor-animation-delay: 2s;
  -vendor-animation-iteration-count: infinite;
}

footer {
  width: 100%;
  background-color: #fcd2d2;
  position: relative;
  min-height: 360px;
  margin-top: 60px;
  padding: 50px 0;
}

footer .footer_logo {
  margin-top: 30px;
}

footer .footer_social {
  margin-top: 60px;
}

footer .footer_social p {
  margin: 0;
  font-size: 18px;
  margin-bottom: 20px;
}

footer .footer_social p a {
  color: #f3337c;
  margin-left: 55px;
  position: relative;
  top: 6px;
  font-size: 35px;
}

footer .footer_social p a:hover {
  color: #337ab7;
}

footer .footer_social a {
  font-size: 18px;
  color: #000;
}
