/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1355px) {
	.service .service_text .title {
	    line-height: 39px;
	    
	    margin-bottom: 100px;
	    font-size: 27px;
	}

	.service .service_img:after {
   
    	width: 100%;
	}
	.service .service_text .title {
	    line-height: 31px;
	    margin-bottom: 70px;
	    font-size: 27px;
	    letter-spacing: 1px;
	}
	.about {
  
	    height: auto;
	   
	    background-size: cover;
	    background-repeat: no-repeat;
	    padding-top: 150px;
	    padding-bottom: 150px;
	    
	}
	footer .footer_logo {
	    margin-top: 30px;
	    margin-left: 0;
	}
	.container-fluid .container{
		padding: 0;
	}
}

/* Medium Devices, Desktops */

@media only screen and (max-width : 1200px) {
	.main_text .main_text_mangala {
	    margin: 83px auto 0;
	    width: 700px;
	    display: table;
	}
	.container{
		width: 100%;
	}
	.mangala{
		display: none;
	}
	.mangala_mob{
		position: absolute;
		display: inline-block;
		left: calc( 50% - 166px );
    	bottom: 0;
    	z-index: 1;
	}
	footer .footer_social a {
	    font-size: 16px;
	    color: #000;
	}
}

@media only screen and (max-width : 992px) {
	header .header_logo {
	    display: inline-block;
	    margin-left: 30px;
	    margin-right: 30px;
	    margin-top: 8px;
	    float: left;
	}
	header .header_menu li {
	    display: inline-block;
	    float: left;
	    margin-right: 30px;
	}
	.header_menu_wr {
	  
	    width: auto;
	    margin-right: 0px;
	}
	.service .service_img {
    	width: 100%;
    	margin: 0;
    	margin-bottom: 60px;
    }
    .service .service_text {
	    width: 100%;
	    display: inline-block;
	    padding-right: 15px;
	    position: relative;
	    text-align: left;
	    margin: 0!important;
	    padding-left: 15px;
	}
	.service .service_text > .title{
		display: none;
	}
	.service .service_text.left_part {
	    padding-right: 15px;
	    padding-left: 15px;
	}
	.service .service_candle {
	    margin-top: 61px;
	    width: 320px;
	}
	.service {
   
	    margin-bottom: 25px;
	}
	.footer_contact {
	    display: table;
	    width: 350px;
	    margin: 0 auto;
	    margin-top: 53px;
	}
	.hotels .hotel_item {
	    width: 100%;
	    margin-bottom: 50px;
	}
	.hotels {
	    
	    margin-top: 59px;
	}
	.service .title {
    	font-size: 36px;
	    letter-spacing: 4px;
	    text-transform: uppercase;
	    margin-top: 0;
	    text-align: center;
	    margin-bottom: 50px;
	}
	.service .service_candle {
	  
	    margin-left: -15px;
	}

}

/* Small Devices, Tablets */
@media only screen and (max-width : 767px) {
	
	/*Disable Animation on Mobile Devices*/
	.animated {
		/*CSS transitions*/
		-o-transition-property: none !important;
		-moz-transition-property: none !important;
		-ms-transition-property: none !important;
		-webkit-transition-property: none !important;
		transition-property: none !important;
		/*CSS transforms*/
		-o-transform: none !important;
		-moz-transform: none !important;
		-ms-transform: none !important;
		-webkit-transform: none !important;
		transform: none !important;
		/*CSS animations*/
		-webkit-animation: none !important;
		-moz-animation: none !important;
		-o-animation: none !important;
		-ms-animation: none !important;
		animation: none !important;
	}
	h1{
		font-size: 22px;
		line-height: 30px;
	}
	.about .about_text {
	    display: inline-block;
	    width: 100%;
	    display: table;
	    margin: 53px auto 0;
	    padding: 0 15px;
	}
	.about {
   
	    padding-top: 50px;
	    padding-bottom: 50px;
	}
	.main_text {
	    width: 100%;
	    display: inline-block;
	    height: 400px;
	 }
	 .main_text {
	 	position: relative;
	 }
	 .main_text .main_text_mangala {
	    margin: 0;
	    width: auto;
	    display: inline-block;
	    position: absolute;
	    bottom: 0;
	    width: 320px;
	    left: calc(50% - 160px);
	}
	.main_text .main_text_img img {
	    display: table;
	    margin: 130px auto 0;
	    width: auto;
	}
	.footer_contact {
	    display: table;
	    width: 250px;
	    margin: 0 auto;
	    margin-top: 53px;
	    text-align: center;
	}
	.footer_contact div{
		font-size: 13px;
		line-height: 40px;
	}
	header {
	    width: 100%;
	    background-color: #fcd2d2;
	    position: relative;
	    min-height: 70px;
	}
	.header_logo img{
		width: 57px;
	}
	.hotels .hotel_item p {
	    font-size: 18px;
	    margin: 0;
	    margin-top: 44px;
	    letter-spacing: 3px;
	    height: auto;
	    text-align: center;
	    overflow-y: hidden;
	    margin-bottom: 36px;
	}
	.hotels {
	    
	    margin-top: 0px;
	}
	.service .service_img {
	    height: 200px;
	    margin-left: -15px;
	    width: calc(100% + 30px);
	}
	
	
	.service .service_text span.butt {
	    color: #f3337c;
	    font-size: 13px;
	    position: relative;
	    margin: 0 auto;
	    margin-top: 25px;
	    display: table;
	    float: none!important;
	}
	.service .service_text span.butt:after {
    	content: "";
	    display: inline-block!important;
	    width: 18px!important;
	    height: 23px!important;
	    left: 32px!important;
	    bottom: -32px!important;
	    position: absolute!important;
	    background-image: url(../img/arrow_mob.png)!important;
	    -webkit-transform: rotate(0deg)!important;
	    -ms-transform: rotate(0deg)!important;
	    transform: rotate(0deg)!important;
	}
	.service .service_text span.butt.active:after {
    	
	    -webkit-transform: rotate(180deg)!important;
	    -ms-transform: rotate(180deg)!important;
	    transform: rotate(180deg)!important;
	}

	.service .service_text span.butt.right::after {
	   
	    -webkit-transform: rotate(0deg);
	    -ms-transform: rotate(0deg);
	    transform: rotate(0deg);
	}

	footer {
   
	    padding: 30px 0 0;
	}
	.footer_logo img{
		width: 80px;
		height: auto;
		display: table;
		margin: 0 auto;
	}
	footer .footer_logo {
	    margin-top: 0px;
	    margin-left: 0;
	}
	footer .footer_social {
	    letter-spacing: 1px;
	    margin-top: 20px;
	}
	footer .footer_social p {
	    margin: 0;
	    font-size: 13px;
	    margin-bottom: 7px;
	    text-align: center;
	}
	footer .footer_social p a {
    	color: #f3337c;
    	margin-left: 35px;
    }
    footer .footer_social > a {
	    font-size: 13px;
	    color: #f3337c;
	    text-align: center;
	    width: 100%;
	    display: inline-block;
	}
	.footer_contact {
   
	    margin-top: 30px;
	    text-align: center;
	}
	.footer_bottom_line p {
	    margin: 0;
	    float: right;
	    font-size: 13px;
	    text-align: center;
	    width: 100%;
	}
	.heade_mob_menu{
		position: absolute;
	    width: 100%;
	    z-index: 100;
	    background-color: blanchedalmond;
	    top: 70px;
	    left: 0;
	}
	.header_menu_wr {
	    width: auto;
	    margin-right: 0px;
	    float: left;
	    width: 100%;
	    padding: 0 30px;
	}
	header .header_lang {
	    display: inline-block;
	    float: right;
	    margin-top: 18px;
	}
	header .header_contact {
	    display: inline-block;
	    float: left;
	    width: 100%;
	    padding: 0 30px 30px;

	}
	header .header_contact a {
    
	    margin-left: 0;
	}
	header .header_contact p {
    
	    font-size: 16px;
	    margin-top: 20px;
	}
	.menu-toggle {
	  -webkit-box-flex: 0;
	  -webkit-flex: 0 0 auto;
	  -ms-flex: 0 0 auto;
	  flex: 0 0 auto;
	  width: 40px;
	  height: 40px;
	  float: right;
	  position: relative;
	  margin-top: 13px;
	    float: right;
	    margin-right: 30px;
	}

	.hamburger, .cross {
	  position: absolute;
	  top: 50%;
	  left: 50%;
	  -webkit-transform: translate(-50%, -50%);
	  -ms-transform: translate(-50%, -50%);
	  transform: translate(-50%, -50%); 
	}

	.hamburger span {
	  display: block;
	  width: 25px;
	  height: 3px;
	  margin-bottom: 3px;
	  overflow: hidden;
	  position: relative; }
	  .hamburger span:last-child {
	    margin: 0; }
	  .hamburger span:before {
	    content: "";
	    position: absolute;
	    width: 100%;
	    height: 100%;
	    background-color: #fd6297;
	    -webkit-transform: translateX(-200%);
	    -ms-transform: translateX(-200%);
	    transform: translateX(-200%);
	    -webkit-transition: -webkit-transform ease 300ms;
	    transition: -webkit-transform ease 300ms;
	    -o-transition: transform ease 300ms;
	    transition: transform ease 300ms;
	    transition: transform ease 300ms, -webkit-transform ease 300ms; }
	  .hamburger span:after {
	    content: "";
	    position: absolute;
	    width: 100%;
	    height: 100%;
	    background-color: #fd6297;
	    -webkit-transform: translateX(-200%);
	    -ms-transform: translateX(-200%);
	    transform: translateX(-200%);
	    -webkit-transition: -webkit-transform ease 300ms;
	    transition: -webkit-transform ease 300ms;
	    -o-transition: transform ease 300ms;
	    transition: transform ease 300ms;
	    transition: transform ease 300ms, -webkit-transform ease 300ms;
	    -webkit-transform: translateX(0);
	    -ms-transform: translateX(0);
	    transform: translateX(0); }
	  .hamburger span:nth-child(2):before, .hamburger span:nth-child(2):after {
	    -webkit-transition-delay: 75ms;
	    -o-transition-delay: 75ms;
	    transition-delay: 75ms; }
	  .hamburger span:last-child:before, .hamburger span:last-child:after {
	    -webkit-transition-delay: 150ms;
	    -o-transition-delay: 150ms;
	    transition-delay: 150ms; }

	.menu-toggle:hover .hamburger span:before {
	  -webkit-transform: translateX(0);
	  -ms-transform: translateX(0);
	  transform: translateX(0); }

	.menu-toggle:hover .hamburger span:after {
	  -webkit-transform: translateX(200%);
	  -ms-transform: translateX(200%);
	  transform: translateX(200%); }

	.menu-toggle.active .hamburger span:before {
	  -webkit-transform: translateX(100%);
	  -ms-transform: translateX(100%);
	  transform: translateX(100%); }

	.menu-toggle.active .hamburger span:after {
	  -webkit-transform: translateX(200%);
	  -ms-transform: translateX(200%);
	  transform: translateX(200%); }

	.cross span {
	  display: block;
	  width: 18px;
	  height: 2px;
	  background-color: #fd6297;
	  -webkit-transform: translateY(50%) rotate(45deg) scaleX(0);
	  -ms-transform: translateY(50%) rotate(45deg) scaleX(0);
	  transform: translateY(50%) rotate(45deg) scaleX(0);
	  -webkit-transition: -webkit-transform ease 200ms;
	  transition: -webkit-transform ease 200ms;
	  -o-transition: transform ease 200ms;
	  transition: transform ease 200ms;
	  transition: transform ease 200ms, -webkit-transform ease 200ms; }
	  .cross span:last-child {
	    -webkit-transform: translateY(-50%) rotate(-45deg) scaleX(0);
	    -ms-transform: translateY(-50%) rotate(-45deg) scaleX(0);
	    transform: translateY(-50%) rotate(-45deg) scaleX(0); }

	.menu-toggle.active .cross span {
	  -webkit-transition-delay: 450ms;
	  -o-transition-delay: 450ms;
	  transition-delay: 450ms;
	  -webkit-transform: translateY(50%) rotate(45deg) scaleX(1);
	  -ms-transform: translateY(50%) rotate(45deg) scaleX(1);
	  transform: translateY(50%) rotate(45deg) scaleX(1); }
	  .menu-toggle.active .cross span:last-child {
	    -webkit-transform: translateY(-50%) rotate(-45deg) scaleX(1);
	    -ms-transform: translateY(-50%) rotate(-45deg) scaleX(1);
	    transform: translateY(-50%) rotate(-45deg) scaleX(1); }
	
	.heade_mob_menu{
		display: none;
	}
	.service h1 {
	    font-size: 22px;
	    line-height: 35px;
	    text-align: center;
	    padding: 0 20px;
	    margin-bottom: 45px; 
	    position: relative; 
	  } 
	.service h1:after {
	    content: "";
	    display: inline-block;
	    width: 208px;
		height: 5px;
		background-color: #b9e2b6;
	    bottom: -28px;
	    position: absolute;
	    right: 0;
	}
	.service .service_img:after {
   
	    background-color: #f0b5b5;
	   
	}
	.about .about_text p {
	    font-size: 14px;
	    font-weight: 700;
	    line-height: 19px;
	    font-variant: small-caps;
	    letter-spacing: 1px;
	    text-align: justify;
	}
	.about:after {
    	
    	top: calc(50% - 80px);
   		 height: 160px;
	}
	.about .title {
	    text-align: center;
	    font-size: 22px;
	}
	.service .title {
    	font-size: 22px;
	    letter-spacing: 4px;
	    text-transform: uppercase;
	    margin-top: 0;
	    text-align: center;
	    margin-bottom: 50px;
	}
	




}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 360px) {
	.hotels .mobile_item_slider .owl-next {
	    position: absolute;
	    right: -2px;
	}
	.hotels .mobile_item_slider .owl-prev {
    	position: absolute;
    	left: -2px;
	}
	.service .service_candle {
	    margin-top: 61px;
	   
	    width: 100%;
	}
	.hotels .hotel_item img {
	    width: 230px;
	   	height: auto;
	    margin: 0 auto;
	}
}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1600px) {
.about:after {
    
    -webkit-transform: rotate(15deg);
    -ms-transform: rotate(15deg);
    transform: rotate(15deg);
	}
}