
body
  input:focus:required:invalid, textarea:focus:required:invalid, input:required:valid, textarea:required:valid

body
  font-family: sans-serif
  font-size: 14px
  min-width: 320px
  position: relative
  line-height: 1.4
  font-family: 'Comfortaa', cursive
  font-weight: 700!important
  overflow-x: hidden
  background-color: #fffcf4
  color: #000
  letter-spacing: 0px!important
  &.menu_open
    height: 100vh
    overflow-y: hidden


  
.container-fluid
  max-width: 1366px
 
  width: 100%


  

.hidden
  display: none



ul li
  list-style: none

a
  text-decoration: none
  -moz-transition: all 0.2s ease
  -webkit-transition: all 0.2s ease
  transition: all 0.2s ease
  outline: none
  color: #6570c8
  &:hover, &:active, &:focus
    text-decoration: none
    -moz-transition: all 0.2s ease
    -webkit-transition: all 0.2s ease
    transition: all 0.2s ease
    outline: none
    color: #ff0061

.hotels.active a
  -moz-transition: all 0s ease!important
  -webkit-transition: all 0s ease!important
  transition: all 0s ease!important



ul, menu, dir 
  display: block
  list-style-type: disc
  -webkit-margin-before: 0em
  -webkit-margin-after: 0em
  -webkit-margin-start: 0px
  -webkit-margin-end: 0px
  -webkit-padding-start: 0px
  padding: 0
  margin: 0
    




   

input
  &[type="email"], &[type="number"], &[type="search"], &[type="text"], &[type="tel"], &[type="url"], &[type="password"]
    -webkit-appearance: none
    -moz-appearance: none
    -ms-appearance: none
    -o-appearance: none
    appearance: none

textarea
  -webkit-appearance: none
  -moz-appearance: none
  -ms-appearance: none
  -o-appearance: none
  appearance: none

input
  &[type="email"]:focus, &[type="number"]:focus, &[type="search"]:focus, &[type="text"]:focus, &[type="tel"]:focus, &[type="url"]:focus:focus, &[type="password"]:focus
    outline: none

textarea:focus
  outline: none

\::-webkit-input-placeholder, ::-moz-placeholder, :-moz-placeholder, :-ms-input-placeholder
  text-indent: 0px
  color: #9b9b9b
  transition: text-indent 0.3s ease

\:focus
  &::-webkit-input-placeholder, &::-moz-placeholder, &:-moz-placeholder, &:-ms-input-placeholder
    text-indent: 500px
    transition: text-indent 0.3s ease

textarea
  &::-webkit-input-placeholder, &::-moz-placeholder, &:-moz-placeholder, &:-ms-input-placeholder
    text-indent: 0px
  &:focus
    &::-webkit-input-placeholder, &::-moz-placeholder, &:-moz-placeholder, &:-ms-input-placeholder
      text-indent: 0px



h1,.title
  font-size: 36px
  
  text-transform: uppercase
  margin-top: 0




.button
  width: 160px
  height: 49px
  border: 2px solid #f3337c
  border-radius: 25px
  text-align: center
  font-size: 16px
  line-height: 50px
  color: #000
  display: table
  margin: 0 auto
  


  &:hover
    background-color: #f3337c
    color: #fff
    -moz-transition: all 0.2s ease
    -webkit-transition: all 0.2s ease
    transition: all 0.2s ease

.mb_0 
  margin-bottom: 0!important



// ----------------------------------------- header -----------------------------------------


header
  width: 100%
  background-color: #fcd2d2
  position: relative
  min-height: 100px
  z-index: 20
  .header_logo
    display: inline-block
    margin-left: 64px
    margin-right: 64px
    margin-top: 8px
    float: left
    img
      width: 88px
  .header_contact
    display: inline-block
    float: left
    a
      display: block
      color: #000
      width: 100%
      margin-top: 10px
      text-transform: uppercase
      margin-left: 20px
      &:hover, &:active, &:focus
        color: #ff0061
      &.email
        font-size: 12px
  .header_menu
    display: inline-block
    float: left
    margin-top: 37px
    li 
      display: inline-block
      float: left
      margin-right: 70px
      a  
        font-size: 14px
        color: #000
     
        &:hover, &.current
          color: #f3337c     

  .header_lang
    display: inline-block
    float: right
    margin-top: 25px
    li 
      display: inline-block
      width: 100%
      margin-bottom: 15px
      a  
        font-size: 14px
        color: #000
       
        &:hover, &.current
          color: #f3337c             
 

.header_menu_wr
  display: inline-block
  float: right
  width: 345px
  margin-right: 20px

.main_text
  width: 100%
  display: inline-block
  height: calc(100vh - 100px)
  max-height: 1200px
  min-height: 500px
  display: inline-block
  position: relative
  background-image: url("../img/main_bg.jpg")
  background-size: cover
  background-repeat: no-repeat


.main_slider_content  
  display: -ms-flexbox
  display: -webkit-flex
  display: flex
  -webkit-flex-direction: row
  -ms-flex-direction: row
  flex-direction: row
  -webkit-flex-wrap: nowrap
  -ms-flex-wrap: nowrap
  flex-wrap: nowrap
  -webkit-justify-content: center
  -ms-flex-pack: center
  justify-content: center
  -webkit-align-content: center
  -ms-flex-line-pack: center
  align-content: center
  -webkit-align-items: center
  -ms-flex-align: center
  align-items: center
  position: absolute
  width: 100% 
  height: 350px
  left: 0
  right: 0
  top: calc(50% - 175px)
  z-index: 2


.main_text_img
  .title
    color: #fff
    margin: 0
    text-align: center
    font-size: 48px
  .title_descr
    font-size: 24px
    margin-top: 50px
    color: #fff
    text-align: center  

  
.main_text_mangala  
  display: table
  margin: -7px auto 0  

.mangala
  
  position: absolute
  z-index: 1
  bottom: -911px
  left: calc(50% - 550px)
  opacity: 0.3

.mangala_mob
  display: none  
.about
  width: 100%
  display: inline-block
  height: 772px
  position: relative
  overflow:  hidden
 
  
  padding-top: 230px
  background-position: center
  margin-top: -2px
  &:after 
    content: ""
    top: calc(50% - 115px)
    height: 200px
    left: -100px
    right: -100px
    width: calc(100% + 200px)
    display: block
    transform: rotate(20deg)
    position: absolute
    z-index: -1

    background-image: linear-gradient(to right, #f0b5b5 0%, #b9e2b6 100%)
  
  .about_text
    display: inline-block
    width: 540px
    display: table
    margin: 60px auto 0 
    position: relative
    z-index: 2

    p
      font-size: 15px
      
      font-weight: 700
      line-height: 22px
      font-variant: normal
      
      text-align: justify
    .about_text_left_img
      position: absolute
      z-index: 2
      left: -318px
      top: 9px
    .about_text_right_img
      position: absolute
      z-index: 2  
      right: -363px
      top: -221px  
  .title
    text-align: center  
    position: relative
    z-index: 2





.service
  width: 100%
  display: inline-block
  margin-top: 60px
  margin-bottom: 80px
  position: relative
  z-index: 4
  .service_img
    display: inline-block
    width: 100%
    height: 415px
    position: relative
    background-size: cover
    background-repeat: no-repeat
    background-position: center
    margin-bottom: 50px

    &:after
      content: ""
      display: inline-block
     
      width: calc(50vw - 150px);
      height: 13px
      background-color: #b9e2b6
      bottom: -28px
      position: absolute
      left: calc(-50vw + 670px)
    &.right_part
      &:after
        right: calc(-50vw + 670px)
        left: inherit


  .service_candle  
    margin-top: 20px    
        


      
  
  .service_text  
   
    display: inline-block
    padding-right: 112px
    position: relative
    text-align: left
    padding-left: 10px
    &.left_part
      padding-right: 10px
      padding-left: 112px
      .title
        text-align: right
        &:after
          

          bottom: -40px
          right: inherit
          left: calc(-50vw + 670px - 112px)
       
    .title
      line-height: 48px
      margin-top: -9px
      position: relative
      margin-bottom: 110px
      font-size: 36px
      font-size: 36px
     
      text-transform: uppercase
      &:after
        content: ""
        display: inline-block
       
        width: calc(50vw - 150px);
        height: 20px
        background-color: #f0b5b5
        bottom: -40px
        right: calc(-50vw + 670px - 112px)
        position: absolute
    p
      font-size: 14px
      margin: 0
      font-weight: 700
      line-height: 22px
      font-variant: normal
      
      text-align: justify   
    span.butt
      color: #f3337c
      font-size: 13px
      position: relative
      margin-top: 55px
      display: block
      cursor: pointer
      &.right
        float: right
        &::after 
         
          left: -50px
         
          transform: rotate(180deg)

      &:hover, &:active, &:focus
        color: #ff0061
      &:after
        content: ""
        display: inline-block
        width: 151px
        height: 44px
        left: -5px
        bottom: -28px
        position: absolute
        background-image: url("../img/arrow-03.png")

.hotels
  width: 100%
  display: inline-block
  margin-top: 60px
  overflow: hidden
  height: 0
  visibility: hidden
  &.active
    display: inline-block
    width: 100%
    visibility: visible
    height: auto


  .mobile_item_slider
    width: 100%
    margin-top: 50px
    .owl-prev
      position: absolute
      left: 15px
      top: 100px
      font-size: 24px
      color: #f3337c
    .owl-next
      position: absolute
      right: 15px
      top: 100px
      font-size: 24px
      color: #f3337c  

    .hotel_item
      width: 260px
      display: table
      margin: 0px auto

.hotel_item
  width: 100%
  margin-bottom: 100px
  img
    width: 100%
    height: auto
  p.name 
    font-size: 18px
    margin: 0
    margin-top: 44px
   
    height: 70px 
    text-align: center
    overflow-y: hidden


.service_text h1
  -vendor-animation-duration: 3s
  -vendor-animation-delay: 2s
  -vendor-animation-iteration-count: infinite
    
footer
  width: 100%
  background-color: #fcd2d2
  position: relative
  
  margin-top: 60px
  padding: 50px 0 0
  .footer_logo
    margin-top: 30px
    margin-left: 38px

  .footer_social
   
    margin-top: 60px
    p
      margin: 0
      font-size: 18px
      margin-bottom: 20px
      a
        color: #f3337c
        margin-left: 55px
        position: relative
        top: 6px 
        font-size: 35px
        &:hover
          color:  #fff
    a 
      font-size: 18px
      color: #000  
      &:hover, &:active, &:focus
        color: #ff0061


.footer_contact
  display: inline-block
  width: 350px
  div
    line-height: 59px
    border-bottom: 2px solid #fff
    font-size: 18px
    width: 100%
    display: block
    
    &:last-child
      border: none
    a 
      color: #000 

.footer_bottom_line
  display: inline-block
  width: 100%
  border-top: 2px solid #fff
  margin-top: 40px
  padding: 15px 0
  p
    margin: 0
    float: right
    font-size: 15px
    a
      color: #f3337c

  
section
  position: relative


.content
  z-index: 2
  margin-top: 35px
  p
    text-align: justify
    margin-bottom: 45px
    line-height: 24px
    font-size: 16px
  .breakebrans
    display: inline-block
    margin-bottom: 100px
    position: relative
    width: 100%
    &:after
      content: ""
      display: inline-block
      width: calc(50vw - 150px);
      height: 20px
      background-color: #f0b5b5
      bottom: -40px
      right: calc(-50vw + 576px)
      position: absolute


    li 
      display: inline-block
      float: left
      padding-right: 30px
      margin-right: 30px
      position: relative
      &:after
        content: ""
        width: 1px
        height: 50px
        background-color: #f3337c
        display: inline-block
        position: absolute
        right: -2px
        top: -12px
      &:last-child
        margin: 0
        padding: 0
        &:after
          display: none  
      a 
        font-size: 16px
        color: #000 
        &.current
          color: #f3337c



.contacts_about
  display: inline-block
  width: 100%
  margin-bottom: 30px
  .title
    font-size: 24px
    margin: 0
    letter-spacing: 0
    margin-bottom: 40px
    position: relative
    width: 100%
   
    &:after
      content: ""
      display: inline-block
      width: calc(50vw - 150px);
      
      height: 10px
      background-color: #b9e2b6
      bottom: -20px
      left: calc(-50vw + 576px)
      position: absolute

  .contacts_about_inf
    div
      width: 100%
      display: block
      line-height: 35px
      font-size: 14px
      padding-left: 45px
      position: relative
      &.border
        border-top: 1px solid #f0b5b5
        border-bottom: 1px solid #f0b5b5
        padding: 5px 0
        padding-left: 45px
        width: 290px
      a 
        color: #000
      i 
        position: absolute
        left: 0
        top: 0 


.descript_about
  width: 100%
  span
    font-size: 36px
    line-height: 45px








.thumb_slider
  margin-top: 150px
  z-index: 2
 
  display: inline-block
  width: 100%


#sync1 .item
  width: 100%
  img
    height: 600px
    width: 100%
    object-fit: cover
    object-position: center

#sync2
  .item img
    width: 100%
    height: 160px
    object-fit: cover
    object-position: center
  .current .item img
    border: 1px solid #f3337c

#sync1.owl-theme
  .owl-nav
   
    [class*='owl-']
      -webkit-transition: all .3s ease
      transition: all .3s ease
      &:hover
        color: #f3337c !important
        background: none !important
    [class*=owl-]
      color: #FFF
      font-size: 40px
      margin: 0px
      padding: 0
      background: none
      display: inline-block
      cursor: pointer
      border-radius: 3px
  position: relative
  .owl-next
    margin-top: -30px !important
    position: absolute
    top: 50%
    font-size: 50px
    color: #fff
  .owl-prev
    margin-top: -30px !important
    position: absolute
    top: 50%
    font-size: 50px
    color: #fff
    left: 30px
  .owl-next
    right: 30px

#sync2
  padding: 50px 150px
  background-color: #e8e8e8
  margin-top: -10px
  &.owl-theme
    .owl-nav
      [class*='owl-']
        -webkit-transition: all .3s ease
        transition: all .3s ease
        &:hover
          color: #f3337c !important
          background: none !important
      [class*=owl-]
        color: #FFF
        font-size: 40px
        margin: 0px
        padding: 0
        background: none
        display: inline-block
        cursor: pointer
        border-radius: 3px
    position: relative
    .owl-next
      margin-top: -30px !important
      position: absolute
      top: 50%
      font-size: 50px
      color: #fff
    .owl-prev
      margin-top: -30px !important
      position: absolute
      top: 50%
      font-size: 50px
      color: #fff
      left: 80px
    .owl-next
      right: 80px

.arrow_right
  background-image: url(../img/arrow_next.png)
  width: 90px
  height: 27px
  display: inline-block

.arrow_left
  background-image: url(../img/arrow_next.png)
  width: 90px
  height: 27px
  display: inline-block
  transform: rotate(180deg)  


.bottom_bacground_img
  display: inline-block
  width: 100%
  margin-top: 80px
  img
    float: right  

.open_mob_text
  display: none

.contacts_about.hotel 
  .title  
    margin-bottom: 138px
    font-size: 24px
    text-transform: inherit
    &:after 
   
      height: 15px;
      background-color: #b9e2b6;
      bottom: -85px
     
      position: absolute
